<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Mystery Word</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Mystery Word</h1>
      <h2>You have {{guesses_left}} guesses left </h2>
      <div class="guess">
      {{#board_array}}
      <div class=letter>
        {{.}}
      </div>
      {{/board_array}}
      </div>
      <!-- <h3>{{board_array}}</h3> -->
      <form action="/board" method="post">
      <input type="text" name="letter" placeholder="Enter a letter" maxlength="1" autofocus/>
      <button id=subbtn type="submit">Make a Guess</button>
      </form>
      <h3>Letters guessed: {{used_letters}}</h3>
    </div>
  </body>
</html>
