<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Mystery Word</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Let's Play Mystery Word!</h1>
      <h2>Guess the word before you have 8 incorrect letters and you win!</h2>
      <h2>Click to Start a New Game</h2>

      <form action="/" method="post">
        <button id=subbtn name="gamebtn" type="submit">New Game</button>
      </form>
    </div>
  </body>
</html>
