button {
  height: 7vh;
  width: 10vh;
  background-color: #eae4ff;
}

input {
  font-size: 20px;
}


.container {
  margin: 20px;
  padding: 10px;
  /*background-image: url("/img/Mystery.png");*/
}

.guess {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.letter {
  padding-right: 5px;
  margin: 5px;
  font-size: 38px;
}
